.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: whitesmoke;
    color: darkslategrey;
}

.container{
    display: flex;
    height: 60vh;
}

.banner-1{
    flex-grow: 1;
    background-color: wheat;
    color: darkslategrey;
    position: relative;
}

.conteudo{
    flex-grow: 5;
    background-color: snow;
    color: darkslategrey;
}

.banner-2{
    flex-grow: 1;
    background-color: bisque;
    color: darkslategrey;
    position: relative;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: blanchedalmond;
    color: darkslategrey;
}
  
.banner-1 img, .banner-2 img {
    position: absolute;
    top: 20px;
    left: 80px;
}